body {
  margin: 0;
  font-family: system-ui;
  font-size: 16px;

  background: var(--white);
  color: var(--black);
}

:root {
  --black: hsl(0, 0%, 0%);
  --white: hsl(0, 100%, 100%);
}

@media (prefers-color-scheme: dark) {
  :root {
    --black: var(--white);
    --white: var(--black);
  }
}
